/* Custom CSS styles for OneTime web site. */

body { 
  /* https://en.wikipedia.org/wiki/Shades_of_white was helpful */
  background: #FDF5E6;
  margin-left: 10%; 
  margin-right: 10%; 
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 115%;
}

h1, h2 { 
  text-align: center;
  font-weight: bold;
  line-height: 150%;
}

ul, ol {
  padding-left: 0;
}

p {
  margin-right: 3%;
}

.example-output {
  margin-left: 5%;
  margin-right: 5%;
  font-family: monospace;
  font-style: italic;
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
}

.title {
  background: lightblue;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 1em;
}

.notice {
  margin-left: 10%; 
  margin-right: 10%; 
  text-align: center;
  color: darkgreen;
  font-weight: normal;
  font-size: 80%;
}

:target { 
  border: 2px solid red; 
  padding: 1em;
}

a, img { 
  border: none; 
}
