Source: onetime
Section: misc
Priority: extra
Maintainer: Karl Fogel <kfogel@red-bean.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Homepage: http://www.red-bean.com/onetime/
Package: onetime
Architecture: any
Depends: python
Description: command-line encryption using the "one-time pad" method
 OneTime is an encoder/decoder that uses the one-time pad algorithm.
 .
 The usual public-key encryption programs, such as GPG, are probably
 secure for everyday purposes, but their implementations are too
 complex for all but the most knowledgeable programmers to vet, and
 anyway there are too many vulnerable steps in the supply chain between
 GPG's authors and the end user.
 .
 Hence this script, OneTime, a simple encryption program that works with
 one-time pads.  If you don't know what one-time pads are, you probably
 wouldn't be able to use them securely, so this program is not for you.
 If you do know what they are and how to use them, OneTime will take care
 of some of the pad-management bureacracy for you.  It avoids re-using
 pad data (except when decrypting the same encrypted message twice, of
 course) by maintaining records of pad usage in ~/.onetime/pad-records.
 And if you keep your ~/.onetime configuration area under version control
 with Subversion or CVS, OneTime will automatically update it to get the
 latest pad usage records before using a pad, and will commit new
 records after using a pad.  Thus, by sharing a single configuration
 area via version control, you and your interlocutors can transparently
 avoid the sin of pad range reuse.
 .
 See http://en.wikipedia.org/wiki/One-time_pad for more information
 about one-time pads in general; run 'onetime --help' for a detailed
 usage message about OneTime itself.
 .
 OneTime is in the public domain.
